spring:
  application:
    name: config-server
  profiles:
    active: native
  cloud:
    config:
      server:
        native:
          search-locations: file:./config/

server:
  port: 8888

logging:
  level:
    org.springframework.cloud.config: DEBUG
