spring:
  application:
    name: eureka-server
  config:
    import: optional:configserver:http://localhost:8888

server:
  port: 8761

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
  server:
    enable-self-preservation: false
